<html>
    <head>
        <title>404</title>
        <link rel="icon" type="image/png" href="<%= extra.faviconlink %>"/>
    </head>
    <body>
        <p>Page not found.</p>
    </body>
</html>